<div class="account-profile-page container">
    <!-- pet professional or pet owner buttons and info divs -->
  
    <div class="row card">
        <div class="col s9 l12">
             <ul class="tabs">
                 <li class="tab col s1"></li>
                <li class="tab col s3"><a href= "/user/professional"><b>professional</b></a></li>
                <li class="tab col s3"><a href="/user/owner"><b>pet owner</a></li></b>
                <li class="tab col s3"><a href="/user/account-profile"><b>view my profile</b></a></li>
                <li class="tab col l1"></li>
            </ul>
        </div>
    </div>
    
    <div class="row ">
        <h2><b>welcome, {{first_name}} </b>!</h2>
        <h2>view my profile</h2> 
    </div>

    <div class="row user-account-profile">
            <h1 class="center-align  ">account profile</h1>
                <div class="user-profile center-align">
                    <h2>first name: {{last_name}}</h2>
                    <h2>username: {{user_name}}</h2>
                    <h2>email: {{email}}</h2>
                    <h2>last name: {{last_name}}</h2>
                </div>
    </div> 
  
    
    <div class="row account-user">
        <div class="col s12  user-card " >
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"> edit {{first_name}} {{last_name}}'s account</span>
                    <div class="card-content">
                        
                        <form>
                            <label for="edit-first-name">edit first name</label>
                                <input type="text" name="edit-first-name" id="edit-first-name" placeholder="first name">
                        </form>
                            
                        <form>
                            <label for="edit-last-name">edit last name</label>
                                <input type="text" name="edit-last-name" id="edit-last-name" placeholder="last name">
                        </form>
                        <form>
                            <label for="edit-username">edit username</label>
                                <input type="text" name="edit-username" id="edit-username" placeholder="username">
                        </form>
                        <form>
                            <label for="edit-email">edit email</label>
                                <input type="text" name="edit-email" id="edit-email" placeholder="email">
                        </form>
                        
                    </div>
                </div>
                <div class="card-action">
                    <button data-id={{id}} id="save-account">save account</button>
                    <button data-id={{id}} id="delete-account">delete account</button>
                </div>
            </div>
        </div>
    </div>
    
</div>  