<div class="container">
  <br>
   <div class="row petflex">
      {{!-- cat search form --}}
      <div class="flex col s10 m7 l5 offset-s1 catsearch hoverable center-align search" id="catsearch">
         <form action="#">
            <div class="row center-align">
               <p>
               <img src="./assets/images/catrunning.png" alt="running cat shadow" height="150px" title="Shadow kitty" />
               </p>
            Feline Friendly Services
            <br>
            find
            <button class="btn-floating btn-large waves-effect waves-light blue darken-3 pet-search" type="submit" value="submit" data-id="cat" id="cat-search">
               <img style="margin-top:10px" src="./assets/images/catpawpink_zrY_icon.ico" />
            </button>
            meow
         </form>
         </div>
      </div>
      {{!-- spacer --}}
      <div class="col m1"></div>  
      {{!-- dog search form --}}
      <div class="flex col s10 m7 l5 offset-l1 dogsearch hoverable center-align search" id="dogsearch">
         <form action="#">
            <div class="row">
               <p>

               <img src="./assets/images/runningdog.png" alt="running dog shadow" height="150px" title="Shadow pup" />
               </p>

            
            Puppy Pals Services
            <br>
            get  
            <button class="btn-floating btn-large waves-effect waves-light blue darken-3 pet-search" type="submit" value="submit" data-id="dog" id="dog-search">
               <img style="margin-top:10px" src="./assets/images/browndogpaw_2cu_icon.ico" />
            </button>
            'em!
            </div>
         </form>
      </div>
   </div>



   <div class="row center-align" id="mapWindow">
      {{!-- TODO:turn this into a map --}}
   </div>


   {{!-- shows current listings for view --}}
   <div class="row flex current-listings center-align">
      <h2 class="left-align"> current listings</h2>
      {{#each posts}}

      <div class="col s12 m12 l6 card parent-user hoverable center-align mostly-customized-scrollbar" style="height: ;">
         <div class="card-content left-align">
            <span class="card-title center-align"style="font-size: 30px; font-weight: bold;"><b>{{title}}</b></span>
            posted by: <a href="/users/{{Provider.id}}">  {{Provider.first_name}} {{Provider.last_name}}</a>
            <ul>
               <li><b>for:</b> {{animal_type}}s</li>
               <li><b>service type:</b> {{service_type}}</li>
               <li><b>about this service:</b> {{text}}</li>
               <li><b>accomodating:</b> {{size_restrictions}}</li>
               <li><b>duration:</b> {{duration}}</li>
               <li><b>location range:</b> {{range}}</li>
               <li><b>cost:</b> {{cost}}</li>
            </ul>
         </div>
         <div class="card-action">
            {{#if BookerId}}
               <h3>Booked by: {{Booker.first_name}} {{Booker.last_name}}</h3>
            {{/if}}
            {{#unless BookerId}}
               <button class="book-now" data-id={{id}}>Book Now!</button>
            {{/unless}}
         </div>
      </div>
      {{/each}}
   </div>
</div>
<script>
   function initMap() {
  
  var uluru = {lat: 47.606209, lng: -122.332069};
  
  var map = new google.maps.Map(
      document.getElementById('mapWindow'), {zoom: 13, center: uluru});

  var marker = new google.maps.Marker({position: uluru, map: map});
   }

   
</script>

{{!-- BELOW IS THE TWO FROM ASLAN WORK THIS MORNING, googleapis commented out, and userhb left in. --}}
{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9k83loTwkEX28Ez2CA0pijP3HXyttslo&callback=initMap&libraries=&v=weekly" async defer></script> --}}
{{!-- <script src="/assets/js/user_hb.js"></script> --}}


{{!-- BELOW IS nicole's branch, googleapis IN and userhb commented out --}}
{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9k83loTwkEX28Ez2CA0pijP3HXyttslo&callback=initMap&libraries=&v=weekly" async defer></script> --}}
{{!-- <script src="/assets/js/user_hb.js"></script> --}}
