<div class="container">
   <div class="row search-bar">
      <form>
        <div class="input-field">
         {{!-- search bar  --}}
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search available listings</i></label>
          <i class="material-icons">search</i>
        </div>
      </form>
   </div>
   {{!-- shows current listings for view --}}
   <div class="row current-listings">
      <h2> current listings</h2>
            {{#each posts}}
               <div class="col s12 l3 card blue-grey darken-1 parent-user">
                  <div class="card-content white-text">
                     <span class="card-title">{{title}}</span>
                     <ul>
                        <li>this service is for a: {{animal_type}}</li>
                        <li>service type: {{service_type}}</li>
                        <li>about this service: {{text}}</li>
                        <li>accomodating: {{size_restrictions}}</li>
                        <li>duration: {{duration}}</li>
                        <li>location range: {{range}}</li>
                        <li>picture: {{picture}}</li>
                        <li>cost: ${{cost}}</li>
                     </ul>
                  </div>
                  <div class="card-action">
                     <button id="book-now">Book Now!</button>
                  </div>
               </div>
            {{/each}}
   </div>
</div>





   
 


