<div class="container">
  <hr>
  <br>
   <div class="row">
      {{!-- cat search form --}}
      <div class="col s10 m5 offset-s1 catsearch hoverable right-align search" id="catsearch">
         <form action="#">
            <div class="row center-align">
               <p>
               <img src="./assets/images/catrunning.png" alt="running cat shadow" height="150px" title="Shadow kitty" />
               </p>
            Feline Friendly Services
               <p>
                  <label>
                     <input name="group1" type="radio" checked />
                     <span>Search close to home</span>
                  </label>
               </p>
               <p>
                  <label>
                     <input name="group1" type="radio" />
                     <span>Search near me right now</span>
                  </label>
               </p>
            find
            <button class="btn-floating btn-large waves-effect waves-light blue darken-3" type="submit" value="submit" data-id="cat" id="cat-search">
               <img style="margin-top:10px" src="./assets/images/catpawpink_zrY_icon.ico" />
            </button>
            meow
         </form>
         </div>
      </div>
      {{!-- spacer --}}
      <div class="col m1"></div>  
      {{!-- dog search form --}}
      <div class="col s10 m5 offset-l1 dogsearch hoverable center-align search" id="dogsearch">
         <form action="#">
            <div class="row">
               <p>

               <img src="./assets/images/runningdog.png" alt="running dog shadow" height="150px" title="Shadow pup" />
               </p>

            
            Canine Companion Services
            
               <p>
                  <label>
                     <input name="group2" type="radio" checked />
                     <span>Search close to home</span>
                  </label>
               </p>
               <p>
                  <label>
                     <input name="group2" type="radio" />
                     <span>Search near me right now</span>
                  </label>
               </p>
           
            get  
            <button class="btn-floating btn-large waves-effect waves-light blue darken-3 " type="submit" value="submit" data-id="dog" id="dog-search">
               <img style="margin-top:10px" src="./assets/images/browndogpaw_2cu_icon.ico" />
            </button>
            'em!
            </div>
         </form>
      </div>
   </div>



   <div class="row center-align" id="mapWindow">
      {{!-- TODO:turn this into a map --}}
   </div>


   {{!-- shows current listings for view --}}
   <div class="row flex current-listings">
      <h2> current listings</h2>
      {{#each posts}}

      <div class="col s12 l3 card blue-grey darken-1 parent-user">
         <div class="card-content white-text">
            <span class="card-title">{{title}} <a href="/users/{{Provider.id}}">posted by: {{Provider.first_name}} {{Provider.last_name}}</a></span>
            <ul>
               <li>this service is for a: {{animal_type}}</li>
               <li>service type: {{service_type}}</li>
               <li>about this service: {{text}}</li>
               <li>accomodating: {{size_restrictions}}</li>
               <li>duration: {{duration}}</li>
               <li>location range: {{range}}</li>
               <li>picture: {{picture}}</li>
               <li>cost: ${{cost}}</li>
            </ul>
         </div>
         <div class="card-action">
            {{#if BookerId}}
               <h3>Booked by: {{Booker.first_name}} {{Booker.last_name}}</h3>
            {{/if}}
            {{#unless BookerId}}
               <button id="book-now" data-id={{id}}>Book Now!</button>
            {{/unless}}
         </div>
      </div>
      {{/each}}
   </div>
</div>
<script>
   function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('mapWindow'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
   }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9k83loTwkEX28Ez2CA0pijP3HXyttslo&callback=initMap&libraries=&v=weekly" async defer></script>
<script src="/assets/js/user_hb.js"></script>