<div class="owner-page container">
    <!-- pet professional or pet owner buttons and info divs -->
    <div class="row card">
        <div class="col s9 l12">
            <ul class="tabs">
                <li class="tab col s1"></li>
                <li class="tab col s3"><a href="/user/professional"><b>professional</b></a></li>
                <li class="tab col s3"><a href="/user/owner"><b>pet owner</b></a></li>
                <li class="tab col s3"><a href="/user/account-profile"><b>view my profile</b></a></li>
                <li class="tab col l1"></li>
            </ul>
        </div>
    </div>

    <div class="row center-align">
        <h1>Owner Profile</h1>
        <div class="user-profile">
            <h2>welcome, {{first_name}} !</h2>
        </div>
    </div>



    {{!--CREATE A PET --}}
    <div class="row center-align create-pet">
        <h2>New Pet in your family?</h2>
        <ul>
            {{!-- choose for cat or dog  --}}
            <button class="waves-effect waves-light btn-large blue darken-3 add-dog"><i class="fas fa-dog"></i>  dog</button>
            <button class="waves-effect waves-light btn-large blue darken-3 add-cat"><i class="fas fa-cat"></i>  cat</button>
        </ul>

        {{!-- show either addcat or adddog handlebar  --}}
        <div class="col s12" id="info-add">{{>addcat}}</div>
        <div class="col s12" id="info-add">{{>adddog}}</div>
    </div>


    {{!-- show pet family for owner --}}
    <div class="row pets">
        <h2>pet family</h2>
        <div class="row" id="pet-family">
            {{#each Customer}}
            <div class="col s1 hide-on-med-and-up"></div>
            <div class="col s10 m6 l4 card parent-user hoverable center-align mostly-customized-scrollbar">
                <div class="card-stacked ">
                    <span class="card-title" style="font-size: 30px; font-weight: bold;"><b> {{first_name}} </b></span>
                    <div class="card-content left-align">
                        <ul>
                            <li><span style="font-weight:bold;">breed: </span>{{breed}} </li>
                            <li><span style="font-weight:bold;">size: </span> {{size}}</li>
                            <li><span style="font-weight:bold;">temperment: </span> {{temperment}} </li>
                            <li><span style="font-weight:bold;">special care: </span> {{special_care}} </li>
                            <li><span style="font-weight:bold;">pet_type: </span> {{pet_type}} </li>
                            <li><span style="font-weight:bold;">picture: </span>{{picture}} </li>
                            <li><span style="font-weight:bold;">age: </span> {{age}} </li>
                        </ul>
                    </div>
                </div>
                <div class="card-action">
                    <button data-id={{id}} class="delete-pet">delete pet</button>
                </div>
            </div>
            {{/each}}

        </div>


    {{!-- show pet  bookings  --}}
    <div class="row">
        <h2>pet bookings</h2>
        <div class="pet-bookings">view my pet bookings</div>
        <br>
        <br>
        <br>
    </div>

    {{!-- pet ratings  --}}
    <div class="row">
        <h2>pet ratings</h2>
        <div class="pet-ratings">view my pet ratings</div>
    </div>
</div>
