<div class="owner-page container">
    <!-- pet professional or pet owner buttons and info divs -->
    <div class="row card">
        <div class="col s9 l12">
            <ul class="tabs">
                <li class="tab col s1"></li>
                <li class="tab col s3"><a href="/user/professional"><b>professional</b></a></li>
                <li class="tab col s3"><a href="/user/owner"><b>pet owner</b></a></li>
                <li class="tab col s3"><a href="/user/account-profile"><b>view my profile</b></a></li>
                <li class="tab col l1"></li>
            </ul>
        </div>
    </div>

    <div class="user-profile">
            <h2><b>welcome, {{first_name}}</b> !</h2>
            <h2>owner profile</h2> 
    </div>



    {{!--CREATE A PET --}}
    <div class="row center-align create-pet">
        <h1>new pet in your family?</h1>
        <ul>
            {{!-- choose for cat or dog  --}}
            <button class="waves-effect waves-light btn-large blue darken-3 add-dog"><i class="fas fa-dog"></i>  dog</button>
            <button class="waves-effect waves-light btn-large blue darken-3 add-cat"><i class="fas fa-cat"></i>  cat</button>
        </ul>

        {{!-- show either addcat or adddog handlebar  --}}
        <div class="col s12" id="info-add">{{>addcat}}</div>
        <div class="col s12" id="info-add">{{>adddog}}</div>
    </div>


    {{!-- show pet family for owner --}}
    <div class="row pets">
        <h2><b>pet family</b></h2>
        <div class="row" id="pet-family">
            {{#each Customer}}
            <div class="col s1 hide-on-large-only"></div>
            <div class="col s10 l4 card parent-user hoverable center-align mostly-customized-scrollbar">
                <div class="card-stacked ">
                    <span class="card-title" style="font-size: 30px; font-weight: bold;"><b> {{first_name}} </b></span>
                    <img src="../../../assets/images/petbowl.png" alt="food bowl" width="100px">
                    <div class="card-content left-align">
                        <ul>
                            <li><span style="font-weight:bold;">breed: </span>{{breed}} </li>
                            <li><span style="font-weight:bold;">size: </span> {{size}}</li>
                            <li><span style="font-weight:bold;">temperment: </span> {{temperment}} </li>
                            <li><span style="font-weight:bold;">special care: </span> {{special_care}} </li>
                            <li><span style="font-weight:bold;">pet_type: </span> {{pet_type}} </li>
                            <li><span style="font-weight:bold;">age: </span> {{age}} </li>
                        </ul>
                    </div>
                </div>
                <div class="card-action">
                    <button data-id={{id}} class="delete-pet">delete pet</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>



    <div class="row bookings-for-pets">
        <h2><b>bookings for your pets</b></h2>
        <div class="row" id="bookings-for-pets">
            {{#each Booker}}
                <div class="col s1 hide-on-large-only"></div>
                <div class=" card parent-user hoverable center-align mostly-customized-scrollbar col s12 m12 l6">
                    <div class="card-stacked ">
                        <span class="card-title" style="font-size: 30px; font-weight: bold;"><b> {{first_name}} </b></span>
                        <div class="card-content left-align">
                            <ul>
                                <li><b>about service:</b> {{text}} </li>
                                <li><b>service type:</b> {{service_type}} </li>
                                <li><b>pet type:</b> {{animal_type}}</li>
                                <li><b>pet size:</b> {{size_restrictions}} </li>
                                <li><b>duration:</b>{{duration}} </li>
                                <li><b>cost:</b> {{cost}}</li>
                                <li><b>contact the provider:</b> {{Provider.email}}</li>
                                
                            </ul>
                        </div>
                    </div>
                  
                </div>
            {{/each}}
        </div>
    </div>


    


