<div class="professional-page container">

    <!-- pet professional or pet owner buttons and info divs -->
   
    <div class="row card">
        <div class="col s9 l12">
             <ul class="tabs">
                 <li class="tab col s1"></li>
                <li class="tab col s3"><a href= "/user/professional"><b>professional</b></a></li>
                <li class="tab col s3"><a href="/user/owner"><b>pet owner</a></li></b>
                <li class="tab col s3"><a href="/user/account-profile"><b>view my profile</b></a></li>
                <li class="tab col l1"></li>
            </ul>
        </div>
    </div>

    <div class="user-profile">
        <h2><b>welcome, {{first_name}} </b>!</h2>
        <h2>professional profile</h2> 
    </div>
    
   
    <!-- CREATE AN OFFER  -->
    <div class="row create-listing center-align">
        <h1>create a posting</h1>
            {{!-- choose for cat or dog  --}}
            <button class="service-dog"><i class="fas fa-dog"></i> for dogs </button>
            <button class="service-cat"><i class="fas fa-cat"></i> for cats </button>
        

        {{!-- show either servicedog or servicecat handlebar  --}}
        <div class= "col s12" id="info-service">{{>servicedog}}</div>
        <div class= "col s12" id="info-service">{{>servicecat}}</div>
    </div>
    

    {{!-- show professional active listings  --}}
    <div class="row active ">
        <h2><b>active listings you've posted</b></h2> 
            <div class="row center-align" id="active-postings">
                {{#each Provider}} 
                    {{#if BookerId}}
                    {{/if}}
                    {{#unless BookerId}}
                        <div >
                            <div class="card parent-user hoverable center-align mostly-customized-scrollbar col s12 m6 l6">
                                <div class="card-content">
                                    <span class="card-title" style="font-size: 30px; font-weight: bold;"><b>{{title}}</b> </span>
                                    <div class="card-content left-align">
                                        <ul>
                                            <li class=""><b>about service:</b> {{text}} </li>
                                            <li><b>service type:</b> {{service_type}} </li>
                                            <li><b>pet type:</b> {{animal_type}}</li>
                                            <li><b>pet size:</b> {{size_restrictions}} </li>
                                            <li><b>duration:</b>{{duration}} </li>
                                            <li><b>cost:</b> {{cost}}</li>
                                        </ul>
                                        
                                    </div>
                                </div>
                                <div class="card-action">
                                    <button data-id={{id}} class="delete-posting">delete posting</button>
                                </div>
                            </div>
                        </div>
                    {{/unless }}
                {{/each}}         
            </div>   
    </div> 

    {{!-- show professional bookings --}}
    <div class="row booked ">
        <h2><b>booked listings</b></h2>
            <div class="booked-postings">
               {{#each Provider}}
                    {{#if BookerId}}
                        <div class="col s12 l6"> 
                            <div class="card parent-user hoverable center-align mostly-customized-scrollbar">
                                <div class="card-content">
                                    <span class="card-title"><b> {{title}} </b></span>
                                    <div class="card-content left-align">
                                        <ul>
                                            <li>service text: {{title}} </li>
                                            <li>service type: {{service_type}} </li>
                                            <li>pet type: {{animal_type}}</li>
                                            <li>pet size: {{size_restrictions}} </li>
                                            <li>duration:{{duration}} </li>
                                            <li>cost: {{cost}}</li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        
                    {{/if}}
                    {{#unless BookerId}}
                    {{/unless}}
                {{/each}}
            </div>
                
    </div>
</div>

